= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .form-horizontal
    .form-group
      .field
        = f.label :from, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :from, class: "form-control", placeholder: "Name(s)"

    .form-group
      .field
        = f.label :message, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :message, class: "form-control", placeholder: "Your message..."

    .form-group
      .col-sm-offset-2.col-sm-10
        .actions
          = f.submit 'Leave Message', class: "btn btn-success"
