= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .form-horizontal
    .form-group
      .field
        = f.label :from, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :from, class: "form-control", placeholder: "Name(s)"

    .form-group
      .field
        = f.label :message, class: "col-sm-2 control-label"
        .col-sm-10
          = f.text_area :message, class: "form-control", placeholder: "Your message...", rows: "5"

    .form-group
      .actions
        .save-button
          = f.submit 'Save Message', class: "btn btn-success"
        .col-sm-offset-2.col-sm-10
          .back-button
            = link_to 'Go Back', messages_path
