.container.schedule
  %h1
    Wedding Schedule


  %h2 Key Contacts
  .row
    .col-sm-3 Wedding Cake - Alice
    .col-sm-2 07 3852 3799
  .row
    .col-sm-3 Ceremony Furniture - Sharon
    .col-sm-2 04 1314 0530
  .row
    .col-sm-3 Parklands Security
    .col-sm-2 07 3006 4525
  .row
    .col-sm-3 Photographer - Nick Murray
    .col-sm-2 04 3173 7960
  .row
    .col-sm-3 Cha Cha Char
    .col-sm-2 07 3211 9944
  .row
    .col-sm-3 Ricardo Tan
    .col-sm-2 04 5030 8580
  .row
    .col-sm-3 Jane Tan
    .col-sm-2 04 5045 8690
  .row
    .col-sm-3 Regine Tan
    .col-sm-2 04 5045 5768
  .row
    .col-sm-3 Paul Cracknell
    .col-sm-2 0466 424 264
  .row
    .col-sm-3 Megan Cracknell
    .col-sm-2 04 3507 5095
  .row
    .col-sm-3 Mark Cracknell
    .col-sm-2 04 1150 5347
  .row
    .col-sm-3 Annie
    .col-sm-2 04 3544 7029
  .row
    .col-sm-3 Caleb Rathjen
    .col-sm-2 04 2148 1278


  %h2 Jobs
  
  = button_to 'New Job', new_job_path, class: "btn btn-primary btn-large", method: :get
  %br

  - @jobs.each do |job|
    .row
      .time-container
        .col-sm-2
          .time
            %h4= job.due_at.to_s(:short)
        .col-sm-9{class: "#{(Time.now + 10.hours) > job.due_at ? 'past' : ''}"}
          .job
            %h4= job.name
            %p
              %b Location:
              = link_to job.location, job.maps_url
            %p
              %b Responsible:
              = job.person_responsible
            - unless job.notes.nil? || job.notes == ""
              %p
                %b Additional Notes:
                %i= job.notes
        .col-sm-1
          = link_to 'Edit', edit_job_path(job)
          = link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "danger"
